.item__card {
    display: flex;
    flex-direction: column;
    height: 328px;
    width: 328px;
  }
  
  .item-card__title {
    font-family: "CabinetGrotesk-Regular", Arial, sans-serif;
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    padding: 2px 12px;
    border-radius: 4px;
    background-color: #fff;
    align-self: center;
    margin-top: 16px;
    z-index: 1;
  }
  
  .item-card__image {
    z-index: 0;
    margin-top: -65px;
    border-radius: 16px;
  }
  
  .item-card:hover {
    cursor: pointer;
  }
  
  @media screen and (max-width: 475px) {
    .item__card {
      height: 295px;
      width: 295px;
    }
  }